block vars
  - var title = ''
  - var description = ''
  - var subtitle = ''
  - var sitename = 'SetJS SPA Framework - State Empire'
  - var url = '//' + domain + '/'
  - var path = '/'

doctype html
html(itemscope itemtype='http://schema.org/WebPage' prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
  head
    //- <!-- Google Tag Manager -->
    //- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //- new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //- j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //- 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //- })(window,document,'script','dataLayer','TODO_PUT_ID_HERE');</script>
    //- <!-- End Google Tag Manager -->
    link(rel='dns-prefetch' href='//www.google-analytics.com')
    link(rel='dns-prefetch' href='//cdnjs.cloudflare.com')
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin)
    link(rel='preconnect' href='https://www.google-analytics.com/' crossorigin)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='format-detection' content='telephone=no')

    title #{title}
    meta(name='description' content=description)
    meta(name='short_name' content=sitename)
    meta(name='thumbnail' content=url + 'images/social/facebook.jpg')
    meta(name='keywords' content='')
    meta(name='theme-color' content='#212121')

    //- link(rel='canonical' href=url)
    link(rel='manifest' href=path + 'manifest.json')
    link(rel='mask-icon' sizes='any' href=path + 'images/common/favicon.svg' color="#e7224c")
    link(rel='icon' href=path + 'favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href=path + 'favicon.ico' type='image/x-icon')
    link(rel='image_src' href=url + 'images/social/facebook.jpg')

    if domain == 'localhost'
      meta(name='robots' content='noindex')
    meta(property='og:logo' content=url + 'images/common/logo-default.png')
    meta(property='og:site_name' content=sitename)
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)
    meta(property='og:url' content=url)
    meta(property='og:type' content='website')
    meta(property='og:image' content=url + 'images/social/facebook.jpg')
    meta(property='og:image:width' content='1000')
    meta(property='og:image:height' content='525')

    meta(itemprop='name' content=title)
    meta(itemprop='url' content=url)
    meta(itemprop='thumbnailUrl' content=url + 'images/social/twitter.jpg')
    meta(itemprop='image' content=url + 'images/social/twitter.jpg')

    link(rel='stylesheet' href=path + 'styles/main.css?v=' + timestamp)

  body.main
    .initial.fadeout-transition.animate
    #nav-placeholder
    #main-content
    #footer-placeholder
    script(type='text/template' id='init-error')
      main(data-template='init-error', data-id='error')
        header
          .grid-container
            .grid-x.grid-margin-x.grid-padding-x
              .small-12.medium-12.cell.text-center
                .absolute-center
                  h1 Error
                  h2 Unable to initialize. Please try again later.
                  h3 {o:msg}

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="/vendor/js/jquery-3.4.1.min.js"><\/script>')
    script(src=path + 'scripts/bundle.js?v=' + timestamp)
    script.
      window.setjsApp.start({
        api_url: "#{api_url}",
        authHeader: "#{authHeader}",
        languages: ['en', 'es', 'ja'],
        timestamp: "#{timestamp}",
        tokenName: "#{tokenName}",
      });
